@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display');
:root{
    --btn-color: #e58f00;
    --about-sec: rgb(192, 98, 11);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    transition: 0.10s;
    text-transform: capitalize;
}
html{
    font-size: 65%;
    scroll-behavior: smooth;
}
.header{
    padding: 1rem 7%;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: rgb(180, 100, 9);
}
.logo img{
    width: 90px;
}
.menu {
    float: right;
}
nav {
    width: 50%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
nav ul {
    list-style-type: none;
    margin: 10;
    padding: 10;
    overflow: hidden;
}
nav ul li {
    float: left;
}
.navbar ul li a{
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 0.5rem;
    margin: 0.5rem;
    text-decoration: none;
    font-size: 1.5rem;
}
.navbar ul li a:hover{
    color: var(--btn--color);
    text-decoration: underline;
}
.icons div{
    color: white;
    font-size: 1.5rem;
    margin-right: 10px;
    display: none;
}
.icons div:hover{
    cursor: pointer;
}
.social-links{
        margin-top: 10px;
    }

.social-links a {
        display: inline-block;
        margin-right: 50px; 
    }

.social-links a img {
        width: 40px; 
        border-radius: 40%;
    }
.icons a{
    color: white;
    padding: 0.6rem 1.5rem;
    border: 1px solid orange;
    border-radius: 10px;
    font-size: 18px;
    transition: 0.8s;
    display: inline-block;
}
.contact-btn.hover{
    transform: scale(1.1);
    background: var(--btn-color);
    border: 1px solid white;
}

.navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}





























/* design for home section */

.home{
    padding: 0.1rem 7%;
    background: rgb(255, 155, 24);
    min-height: 100vh;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-home{
    display: flex;
    margin: auto;
    margin-bottom: 50px;
    gap: 15px;
    padding-top: 150px;
}
.home-inner-content{
    flex: 1 1 45rem;
}
.home-picture img{
    width: 50%;
}
.home-text-content{
    margin-top: 50px;
    margin-bottom: 50px;
}
.home-text-content h1{
    font-size: 65px;
    color: #ffffff;
}
.home-text-content p{
    color:rgb(0, 0, 0);
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    width: 100%;
    line-height: 50px;
}
.home-text-content a{
    color: white;
    padding: 0.6rem 1.5rem;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 10px;
    font-size: 18px;
    transition: 0.5;
    display: inline-block;
}
.home-text-content a:hover{
    transform: scale(1.1);
    background: var(--btn-color);
    border: 1px solid white;
}
.about{
    padding: 1rem 9%;
    background: var(--about-sec);
}
.main-about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
}
.about-content{
    flex: 1 1 45rem;
}
.about-inner-content{
    width: 100%;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.about-content .about-inner-content img{
    width: 80%;
    margin-left: 80px;
    border-radius: 50%;
}
.about-text-content{
    padding: 0 2rem;
}
.about-text-content h1{
    color:#f1b656;
    font-size: 40px;
    font-family: 'comic sans ms';
}
.about-text-content p{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    line-height: 35px;
    font-family:'Gill Sans';
}

.quality{
    padding: 4rem 7%;
    background: linear-gradient(60.34deg, white 52.45%, var(--btn-color) 52.45%);
}
.main-quality{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.main-inner-quality{
    flex: 1 1 45rem;
}
.quality-content{
    padding: 0 4rem;
}
.quality-content h1{
    color: var(--btn-color);
    font-size: 40px;
    margin-bottom: 15px;
    font-family: 'comic sans ms';
}
.quality-content p{
    color: var(--about-sec);
    font-size: 1.80rem;
    line-height: 30px;
    font-family:'Gill Sans';
}
.quality-image{
    width: 100%;
}
.quality-image img{
    width: 100%;
}
.gallery{
    padding: 4rem 7%;
    background: var(--about-sec);
}
.main-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}
.inner-gallery{
    flex: 1 1 300px;
}
.inner-gallery .gallery-image img{
    width: 90%;
}
.inner-gallery .gallery-image:hover img{
    transform: perspective(1000px) rotateX(-4.80deg) rotateY(-10.23deg) scale3d(1.05,1.05,1.05);
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}
.enjoy-my-cakeies{
    padding: 2rem 7%;
    background: url(PICTURE/BACKGROUND.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cake-main-content{
    width: 40%;
    border: 4px solid white;
    padding: 2rem;
}
.cake-main-content h1{
    color:#e58f00;
    font-size: 35px;
    text-align: center;
    padding: 1rem 0;
    font-family: 'comic sans ms';
}
.cake-main-content p{
    color: white;
    font-size: 2.90rem;
    text-align: center;
    padding: 1rem 0;
    line-height: 50px;
    font-family:'Arial Narrow Bold';
}
.Famous-Menu-Cake{
    padding: 2rem 7%;
    background-color: var(--about-sec);
}
.Famous-Menu-Cake h1{
    color:#f1b656;
    font-size: 50px;
    text-align: center;
    padding: 0.5rem 0;
    font-family: 'comic sans ms';
}
.main-menu-cake{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.inner-menu-cake{
    flex: 1 1 300px;
}
.menu-cake-content{
    width: 100%;

}
.menu-cake-content img{
    width: 80%;
    border-radius: 50%;
}

.menu-cake-text{
    padding: 2rem 2rem;
}
.menu-cake-text h2{
    color: var(--btn--color);
    font-size: 30px;
    font-family: 'comic sans ms';
}
.menu-cake-text p{
    color: white;
    font-size: 18px;
    margin: 2rem 0;
    font-family:'Gill Sans';
}
.menu-cake-text p span{
    color:#ffffff;
}

.footerBottom{
    background-color: #e58f00;
    padding: 20px;
    text-align: center;
}
.designer{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 800;
    margin: 0px 4px;
}









@media (max-width:767px) {
    .header{
        padding: 2rem;
    }
    .icons div{
        display: initial;
    }
    .navbar{
        position: absolute;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 100%;
        background-color: var(--btn-color);
        clip-path: polygon(0 0, 100% 0, 0 0);

    }
    .navbar a{
        display: block;
        text-align: center;
        margin: 1rem;
        padding: 1rem;
    

}


















/* home css desing */

    .home-text-content{
        padding: 0 2rem;
    }
    .main-home{
        padding: 2rem 0;
    }
    .home{
        padding-top: 100px;

    }
    .home-image img{
        transform: translate(0%, 0%);
    }
    .home-text-content{
        margin-top: 300px;
    }
    .about-content .about-inner-content img{
        width: 100%;
        margin: 0;
        padding: 1rem;
    }
    .quality-content{
        padding: 2rem;
    }
    .quality-content h1{
        color: var(--about-sec);
    }
    .cake-main-content{
        width: 80%;
        border: 4px solid white;
        padding: 1rem;
    }
}

